#screen {
  perspective: 20px;
}

.layer {
  height: 800px;
  width: 1280px;
  position: absolute;
  top: 0;
  left: 0;
}

#transform {
  /*transform: rotateX(1deg);*/
}

#maze {
  background: #333;
  z-index: 1;
}

#sprites {
  z-index: 2;
}

#sprite-library {
  display: none;
}

#score {
  display: block;
  border: 1px solid black;
  height: 50px;
  width: 800px;
  margin: 0;
  padding: 20px;
}

#score li {
  display: block;
  margin: 20px;
  padding: 10px;
  float: left;
  width: 50px;
  text-align: right;
  border: 1px solid black;
}

#coins {
}
