body {
  font-family: 'Share Tech Mono';
}

#screen {
  perspective: 20px;
}

.layer {
  height: 800px;
  width: 1280px;
  position: absolute;
  top: 0;
  left: 0;
}

#transform {
  /*transform: rotateX(1deg);*/
}

#maze {
  background: #333;
  z-index: 1;
}

#sprites {
  z-index: 2;
}

#sprite-library {
  display: none;
}

#score {
  display: block;
  border: 1px solid black;
  height: 50px;
  width: 800px;
  margin: 0;
  padding: 20px;
}

#score li {
  line-height: 10px;
  display: block;
  margin: 20px;
  padding: 5px;
  float: left;
  width: 50px;
  height: 10px;
  text-align: right;
  color: white;
  border: 5px solid black;
  background: black url(sprites.png) no-repeat;
  background-size: 20px;
}

li#coins  { background-position: 0 -440px; }
li#snacks { background-position: 0 -480px; }
li#lifes  { background-position: 0 -460px; }
li#items  { background-image: none; }
